@font-face {
  font-family: Norse-Bold;
  src: url("../assets/fonts/Norse-Bold.otf");
}

:root {
  --clr-primary-400: #596d48; /* button */
  --clr-neutral-100: #fff; /* background and logo */
  --clr-neutral-200: #f9fafb; /* form background */
  --clr-neutral-300: #e5e7eb; /* input */
  --clr-neutral-400: #3a65de; /* selected input */
  --clr-neutral-800: #333; /* form labels font */
  --clr-neutral-900: #000; /* primary font */
  --clr-danger-400: #ca5454; /* invalid input */

  --ff-primary: Roboto, sans-serif;
  --ff-accent: Norse-Bold;

  --ff-body: var(--ff-primary);
  --ff-primary-heading: var(--ff-accent);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-100: 0.75rem; /* form labels and validation text */
  --fs-200: 0.875rem; /* photo credit */
  --fs-300: 1.125rem; /* login text */
  --fs-400: 1rem; /* input text */
  --fs-500: 1.375rem; /* main text */
  --fs-600: 1.5rem; /* form title */
  --fs-700: 6rem; /* logo */

  --fs-body: var(--fs-500);
  --fs-primary-heading: var(--fs-700);
  --fs-secondary-heading: var(--fs-600);
  --fs-button: var(--fs-300);
  --fs-form-label: var(--fs-100);
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-200 {
  color: var(--clr-neutral-200);
}

.text-neutral-300 {
  color: var(--clr-neutral-300);
}

.text-neutral-400 {
  color: var(--clr-neutral-400);
}

.text-neutral-800 {
  color: var(--clr-primary-400);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.text-danger-400 {
  color: var(--clr-danger-400);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}

.bg-neutral-300 {
  background-color: var(--clr-neutral-300);
}

.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}

.bg-neutral-800 {
  background-color: var(--clr-primary-400);
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.bg-danger-400 {
  background-color: var(--clr-danger-400);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fs-primary-heading {
  font-family: var(--ff-accent);
  font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.margin-bottom-400 {
  margin-bottom: 2rem;
}

.margin-bottom-500 {
  margin-bottom: 2.25rem;
}

.no-text-decoration {
  text-decoration: none;
}

.hidden {
  display: none;
}

.container {
  padding: 0 15rem 0 3rem;
}

body {
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-200);
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--fs-body);
}

form label {
  color: var(--clr-neutral-800);
  font-size: var(--fs-form-label);
  font-weight: var(--fw-semi-bold);
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  margin-bottom: 0.25rem;
}

form input {
  width: 15rem;
  font-size: var(--fs-400);
  border: 1px solid var(--clr-neutral-300);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

form input:focus {
  width: 15rem;
  outline: none;
  border: 1px solid var(--clr-neutral-400);
  box-shadow: 0 0 0.25rem var(--clr-neutral-400);
}

em {
  font-style: italic;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
}

.side-bar {
  background-color: var(--clr-primary-400);
  background-image: url(../assets/images/background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: min(36rem, 100%);
  height: 100%;
  flex: 1 0 auto;
  padding-block: 1rem;
}

.logo-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 12rem;
}

.logo {
  height: 8rem;
}

.text {
  margin: 8rem 0 4rem 0;
}

.form-container {
  background-color: var(--clr-neutral-100);
  padding-block: 1.75rem;
  box-shadow: 0 0.75rem 1rem -1rem grey;
}

.form-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 1.5rem;
}

.form-item-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  row-gap: 1.5rem;
  column-gap: 4rem;
}

.form-item {
  flex: 0 1 auto;
}

.button {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
  font-family: var(--ff-body);
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  padding: 1rem 3.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button + * a {
  color: var(--clr-primary-400);
}

.validation {
  font-size: var(--fs-100);
  color: var(--clr-danger-400);
}
